/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit;}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* Using a Major Third modular scale:
*  https://www.modularscale.com/?18&px&1.25
*/

/* Base Styles */
html {
  background-color: black; /* black color contrast with every coor on this page */
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.125em; /* 18px / 16px = 1.125em */
  text-align: center;
}

img {
  display: inline-block;
  max-width: 100%;
}

h1,
h2 {
  font-size: 3em; /* 54px / 18px = 3em */
  font-weight: bold;
  font-style: italic;
  margin: 0 auto 1em auto; /* 18px / 18px = 1em */
  padding-top: .5em;
  overflow-wrap: break-word;
}

h3{
  font-size: 2em; /* 36px / 18px = 2em */
  padding-bottom: 1em;
}
section {
  display: grid;
}

small {
  display: block;
}

p {
  color: black;
  text-align: left;
  line-height: 120%;
}

article {
  background-color: #AAB8C2;
  padding: 1em;
  margin: 1em;
}

/* Layout Styles */
.intro {
  background: #00ACEE;
  box-sizing: border-box;
  margin: 1em;
}
 .intern-details {
   border: .5em solid white; /* 9px / 18px = .5em */
 }

 .pInfo {
   background-color: #4bd1a0;
   margin: 0;
   padding: 3em;
 }

/* Module styles */
.intro img {
  width: auto;
}

footer figure {
  display: inline-block;
  padding: 1.125em; /* 20.25px / 18px = 1.125em */
}

footer img {
  width: 8em; /* 144px / 18px = 8em */
}

.intern-details h3{
  color: #0085ee;
  font-weight: bold;
}

header p {
  color: white;
}

.pInfo p {
  text-align: center;
}

.sdc-details figure{
  border: .3em solid black; /* 5.4px / 18px = .3em */
  background-color: white;
  padding: 1em;
  padding-bottom: 2em;
  margin: .5em;
}

.sdc-details figcaption{
  color: black;
}
#summary h2 {
  width: 80vw;
  margin-left: 0;
  margin-right: 0;
}

/* Navigation Styles */
.nav a {
  background: #00ACEE;
  border-radius: 0.333333333em; /* 6px / 18px = 0.333333333em */
  color: white;
  display: inline-block;
  line-height: 0;
  outline: 0;
  margin-bottom: 0.333333333em; /* 6px / 18px = 0.333333333em */
  margin-top: 0.333333333em; /* 6px / 18px = 0.333333333em */
  padding: 1em; /* 18px / 18px = 1em */
  text-align: center;
  text-decoration: none;
  width: 50%;
}

/* State styles */
/* 540px || 540 / 16 = 33.75em */
@media screen and (min-width: 33.75em) {
  .nav {
    display: flex;
    flex-flow: row nowrap;
    margin-left: -0.333333333em; /* 6px / 18px = 0.333333333em */
    margin-right: 0.333333333em; /* 6px / 18px = 0.333333333em */
  }
  .nav li {
    flex: 1 0 auto;
    margin-left: 0.666666667em; /* 12px / 18px = 0.666666667em */
  }
  .nav a {
    display: block;
    width: auto;
  }

  /* main page */
  #summary{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }
  #summary h2 {
    grid-column: 1 / 3; /* Span h2 over all columns */
  }

  /* workExperience page */
  .intern-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1.25em; /* 22.5px / 18px = 1.25em */
  }
  .intern-details h3 {
    grid-column: 1 / 3; /* Span h2 over all columns */
  }

  /* contact page*/
  #contactInfo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }
  #contactInfo h2 {
    grid-column: 1 / 3; /* Span h2 over all columns */
  }

  /* Competition page */
  .ssh-details p {
    padding: 1em;
    padding-top: 0;
  }
}

/* 1080px || 1080 / 16 = 67.5em */
@media screen and (min-width: 67.5em) {
  /* Competition page */
  #summary,
  .ssh-details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    justify-content: center;
  }
  #summary h2,
  .ssh-details h3 {
    grid-column: 1 / 4; /* Span h2 over all columns */
  }

  p {
    font-size: 1.35em; /* 24.3px / 18px = 1.35em */
  }

  .sdc-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    justify-content: center;
  }

  .sdc-details h3 {
    grid-column: 1 / 3; /* Span h2 over all columns */
  }
}

footer img:hover {
  opacity: 0.5;
}
